*{
    margin : 0;
    padding : 0;
}

body{
    text-align: center;
    background-color: rgb(134, 171, 137);
}
.container{
    width: 100%;
    height: 100%;
}
.btn{
    height: 10vmin;
    width: 10vmin;
    border-radius: 10px;
    
}
.game{
    width: 200px;
    margin-left: 550px;
}
